@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main__wrapper {
    background-color: #8F8986;
    padding: 30px 50px;
}

.navbar__wrapper {
    display: flex;
    align-items: center;
}

.navbar__logo {
    width: 200px;
}

/* Adapt-menu */
.adapt-menu__trigger {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    display: none;
}

.adapt-menu__trigger--close {
    color: #FAC0AA;
    margin: 0px 0px 20px 0px;
    display: block;
}

.adapt-menu {
    max-width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100vh;
    display: none;
    box-shadow: 0px 0px 17px 0px #000000;
}

.adapt-menu__list {
    padding: 50px;
}

.adapt-menu__item {
    display: block;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    margin-bottom: 20px;
}

.navbar__list {
    margin: 0 auto;
    display: flex;
    gap: 60px;
}

.navbar__list-item {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.navbar__list-item--active {
    border-bottom: 2px #FAC0AA solid;
}

.main-text {
    margin-top: 120px;
}

.main-text__title {
    max-width: 700px;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
}

.main-text__description {
    margin-top: 30px;
    max-width: 500px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.sign {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.sign__btn {
    background: #FAC0AA;
    border-radius: 15px;
    padding: 20px 40px;
    border: 0;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.video-about {
    display: flex;
    align-items: center;
    gap: 15px;
}

.video-about__img {
    width: 60px;
}

.video-about__text {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.services {
    margin: 40px 20px;
}

.services__title {
    text-align: center;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    color: #4C5056;
}

.services__title span {
    color: #FAC0AA;
}

.services__description {
    margin: 0 auto;
    width: 70%;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #4C5056;
}

.tabs__wrapper {
    margin: 40px auto;
    max-width: 1200px;
}

.tabs__triggers-wrapper {
    display: flex;
    justify-content: center;
}

.tabs__triggers {
    border: 1px #FAC0AA solid;
    display: flex;
    border-radius: 12px;
}

.tabs__trigger {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #4C5056;
    padding: 20px;
}

.tabs__trigger--active {
    background-color: #FAC0AA;
    color: #ffffff;
    border-radius: 12px;
}

.tabs__content {
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.tab-content__item {
    width: 250px;
    padding: 20px;
    border: 1px #FAC0AA solid;
}

.tab-content__img {
    width: 70px;
}

.tab-content__title {
    margin-top: 5px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color: #4C5056;
}

.tab-content__description {
    margin-top: 5px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #4C5056;
}

/* Modals */
.popup--open {
    overflow: hidden;
}

/* Send form */
.popup-send-form {
    display: none;
    background-color: #ffffff;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}

.popup-send-form__wrapper {
    padding: 20px;
}

.popup-close {
    background-color: #FAC0AA;
    padding: 10px 15px;
    font-size: 24px;
    color: #ffffff;
    border: 0;
}

.send-form {
    display: grid;
    place-items: center;
}

.send-form__title {
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}

.send-form__input {
    margin-top: 20px;
    width: 100%;
    background-color: #FAC0AA;
    border: 0;
    padding: 15px;
    border-radius: 12px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.send-form__input::placeholder {
    color: #ffffff;
}

.send-form__btn {
    margin-top: 20px;
    background-color: #FAC0AA;
    border: 0;
    padding: 15px;
    border-radius: 12px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.message-box {
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Video about */
.popup-video-about {
    display: none;
    background-color: #ffffff;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}

.popup-video-about__wrapper {
    padding: 20px;
}

.popup-video-about__title {
    margin: 20px 0;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

@media screen and (max-width: 715px) {
    .navbar__list {
        display: none;
    }

    .adapt-menu__trigger {
        display: block;
    }
}